<table class="table" *ngIf="weatherContent.length > 0">
  <thead class="thead-dark">
    <tr>
      <th scope="col">City</th>
      <th scope="col" *ngFor="let timeSlot of weatherContent[0]?.list">
        {{ timeSlot.dt_txt | date: 'shortTime' }}
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let cityWeather of weatherContent" class="weather-search-results">
    <tr>
      <td scope="row">{{ cityWeather?.city.name }}</td>
      <td scope="row" *ngFor="let timeSlot of cityWeather?.list">
        {{ timeSlot.main.temp | number: '1.1-1'}} &deg;
      </td>
    </tr>
  </tbody>
</table>