<form class="form-inline mb-5">
  <div class="form-group col-8 pl-0">
    <input class="form-control mt-3 col"
           id="city_search_input"
           name="city"
           placeholder="City"
           type="text"
           required
           [(ngModel)]="cityName">
  </div>
  <button class="btn-search btn btn-primary mt-3 col-4"
          id="city_search_submit"
          type="submit"
          (click)="search()" [disabled]="!cityName">Search</button>

</form>
